html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.08em;
    background-color: #FFFFFF;
    /* 謎余白の対策 */
    overflow: hidden;
}

span {
    font-size: 2rem;
}

circle {
    fill: transparent;
    stroke: white;
    stroke-width: 10;
    stroke-dasharray: 255 0;
    animation: fillUp 0.8s forwards;
}

.fv {
    @include block-display(flex, center, center);
    height: 100%;
    &-line {
        @include block-display(flex, flex-end, center);
        flex-direction: column;
        .intro__scroll {
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 2px;
            height: 20px;
            overflow: hidden;
            z-index: 1;
        }
        .intro__scroll:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            z-index: 1;
            animation-name: scroll;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
    }
    &-pre {
        display: flex;
        justify-content: center;
        align-items: center;
        &__load {
            &--process {
                @include block-display(flex, center, center);
                position: absolute;
                animation: hidden 0.4s linear 2s forwards;
            }
            $load: 246px;
            position: absolute;
            width: $load;
            height: $load;
            @include media-breakpoint-down(xl) {
                $load: 246px;
                width: $load;
                height: $load;
            }
        }
        &__circle {
            $circle: 280px;
            width: $circle;
            height: $circle;
            transform: rotateZ(-90deg);
            border-radius: 50%;
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
            clear: both;
            @include media-breakpoint-down(xl) {
                $circle: 280px;
                width: $circle;
                height: $circle;
            }
        }
        &__logo {
            opacity: 0;
            animation: faceIn50P 0.8s linear 2s forwards;
            width: 151px;
            height: 70px;
            @include media-breakpoint-down(xl) {
                width: 97px;
                height: 44px;
            }
        }
    }
    &-content {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        opacity: 0;
        animation: faceIn 0.4s linear 3.4s forwards;
        background-image: url($images + 'fv.background.png');
        background-position: 25% 0%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
        &__text {
            justify-content: center;
            position: absolute;
            align-items: center;
            left: 13.33%;
            top: 24%;
            display: flex;
            flex-direction: column;
            @include media-breakpoint-down(xl) {
                flex-direction: row-reverse;
                left: 18%;
                top: 47%;
            }
            &-text-1 {
                margin-top: 10px;
                width: 36px;
                height: 67px;
                opacity: 0;
                animation: faceIn 1s linear 5.2s forwards; // 2
                @include media-breakpoint-down(xl) {
                    margin-top: 36px;
                    margin-left: 8px;
                }
            }
            &-text-2 {
                margin-top: 10px;
                width: 20px;
                height: 121px;
                opacity: 0;
                animation: faceIn 1s linear 5.7s forwards; // 3
                @include media-breakpoint-down(xl) {
                    margin-top: 60px;
                }
            }
            &-text-3 {
                width: 19px;
                height: 155px;
                opacity: 0;
                animation: faceIn 1s linear 4.7s forwards; // 1
                @include media-breakpoint-down(xl) {
                    margin-left: 8px;
                }
            }
        }
        &__bg-video {
            min-width: 100%;
            min-height: 100%;
            mix-blend-mode: multiply;
            top: 0;
            bottom: 0;
            position: absolute;
            left: 0;
            right: 0;
        }
        &__menu {
            position: absolute;
            cursor: pointer;
            right: 0;
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            opacity: 0;
            animation: faceIn 1s linear 4s forwards;
            span {
                margin-top: 12px;
                font-size: 14px;
                line-height: 19px;
                font-family: 'Roboto', sans-serif;
                font-weight: 100;
                text-align: right;
                @include media-breakpoint-down(xl) {
                    color: white;
                }
            }
        }
    }
    &-overload {
        width: 100%;
        background: linear-gradient(145deg, $primary, $secondary);
        height: 100%;
        position: absolute;
        opacity: 0;
        animation: fadeOut50P 1.2s linear 2.8s forwards, hidden 0s linear 4s forwards;
    }
}

.lo {
    display: flex;
    height: 100vh;
}

// Logo
.logo-mobile {
    width: 152px;
    height: 108px;
    align-self: center;
    // margin-bottom: 50px;
    position: absolute;
    bottom: 5%;
    opacity: 0;
    animation: faceIn 1s linear 4.2s forwards;
    @include media-breakpoint-up(xl) {
        display: none;
    }
}

.logo {
    width: 152px;
    height: 108px;
    align-self: center;
    margin-left: 80px;
    opacity: 0;
    animation: faceIn 1s linear 4.2s forwards;
    @include media-breakpoint-down(xl) {
        display: none;
    }
}

// Menu
.fv-content__menu-line {
    margin-left: auto;
    background-color: black;
    &:nth-child(1) {
        margin-top: 20px;
        width: 70px;
        height: 2px;
        @include media-breakpoint-down(xl) {
            background-color: white;
        }
    }
    &:nth-child(2) {
        width: 50px;
        height: 2px;
        margin-top: 8px;
        @include media-breakpoint-down(xl) {
            background-color: white;
        }
    }
}