<header class="header">
  <div class="hamburger-menu">
    <div class="hamburger-menu__button">
      <span class="hamburger-menu__border"></span>
      <span class="hamburger-menu__border"></span>
      <span class="hamburger-menu__border"></span>
    </div>
    <p class="hamburger-menu__text">メニュー</p>
  </div>

  <div class="nav-menu">
    <p class="nav-menu__text">閉じる</p>
    <div class="nav-menu__contents">
      <div class="nav-menu__img">
        <img src="../images/sample01.svg" alt="サンプル画像" />
      </div>
      <nav class="nav-menu__list">
        <ul class="nav-menu__item">
          <a href="#"><li>MESSAGE</li></a>
          <a href="#"><li>SERVICE</li></a>
          <a href="#"><li>NEWS</li></a>
        </ul>
      </nav>
    </div>
  </div>
</header>
