@use "../abstracts/base" as *;

html {
	font-size: 62.5%;
}

body {
	background-color: $color-white;
}

img {
	width: 100%;
	height: auto;
}

a {
	color: $color-white;
	text-decoration: none;

	&:active {
		color: $color-white;
	}

	&:focus {
		color: $color-white;
	}
}

.hide {
	display: none;
}
