@use "../abstracts/base" as *;

.example {
  margin: 10px;

  @include text($m20-font-size, 120%, $font-weight-regular, $color-green, "font-name");

  @include responsive(md) {
    @include text($m20-font-size, 150%, $font-weight-light, $color-green);
  }

  @include responsive(xl) {
    width: calc(100px - 20px);
    height: 100px;
    font-size: $m20-font-size;
  }
}

.text {
  @include line-clamp(4);
}

.content {
  background-color: yellow;
  display: flex;
  gap: 120px;

  .item {
    background-color: red;
    flex: 1;

    p {
      writing-mode: vertical-lr;
    }
  }
}
