@keyframes fadeOut50P {
    0% {
        opacity: 1;
        left: -100%;
    }
    25% {
        opacity: 1;
        left: 0;
        width: 100vw;
    }
    75% {
        opacity: 1;
        left: 0;
        width: 100vw;
    }
    100% {
        opacity: 1;
        left: 100%;
        width: 0vw;
    }
}